// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

#if 0
#define MIRYOKU_DOUBLE_TAP_GUARD(NAME, BINDING) \
/ { \
  behaviors { \
    NAME: NAME { \
      compatible = "zmk,behavior-tap-dance"; \
      #binding-cells = <0>; \
      tapping-term-ms = <U_TAPPING_TERM>; \
      bindings = <&none>, <BINDING>; \
    }; \
  }; \
};

#define MIRYOKU_X(LAYER, STRING) \
MIRYOKU_DOUBLE_TAP_GUARD(u_to_U_##LAYER, &to U_##LAYER)
MIRYOKU_LAYER_LIST
#undef MIRYOKU_X
#else
#define u_to_U_BASE   &to U_BASE
#define u_to_U_EXTRA  &to U_EXTRA
#define u_to_U_TAP    &to U_TAP
#define u_to_U_BUTTON &to U_BUTTON
#define u_to_U_NAV    &to U_NAV
#define u_to_U_MOUSE  &to U_MOUSE
#define u_to_U_MEDIA  &to U_MEDIA
#define u_to_U_NUM    &to U_NUM
#define u_to_U_SYM    &to U_SYM
#define u_to_U_FUN    &to U_FUN
#endif

#if defined (MIRYOKU_KLUDGE_DOUBLETAPBOOT)
  #if defined (MIRYOKU_KLUDGE_SOFT_OFF)
MIRYOKU_DOUBLE_TAP_GUARD(u_soft_off, &soft_off)
  #else
MIRYOKU_DOUBLE_TAP_GUARD(u_bootloader, &bootloader)
  #endif
#endif
